LOGIN_URL=URL_DE_LOGIN
CANHOTOS_URL=URL_DOS_CANHOTOS
SIGLA_SISTEMA=NOME_DO_SISTEMA
PROGRAMA=NOME_DO_MODULO
APP_NAME=nome-do-app
APP_SUBTITULO=Empresa · Sistema
ICON_FILE=icon.ico
TESSERACT_PATH=C:\Program Files\Tesseract-OCR\tesseract.exe
